fieldset[disabled] .multiselect {
  pointer-events: none;
}

.multiselect {
  font-family: inherit;
  font-size: 1rem;
  box-sizing: content-box;
  display: block;
  position: relative;
  width: 100%;
  min-height: 40px;
  text-align: left;
  color: #35495e;

  & * {
    box-sizing: border-box;
  }

  &__input,
  &__single {
    font-family: inherit;
    font-size: 1rem;
  }

  &:focus {
    outline: none;
  }

  &--disabled {
    pointer-events: none;
    opacity: 0.6;
  }

  &--active {
    z-index: 50;
  }

  &__spinner {
    position: absolute;
    right: 1px;
    top: 1px;
    width: 48px;
    height: 35px;
    background: #fff;
    display: block;

    &::before,
    &::after {
      position: absolute;
      content: "";
      top: 50%;
      left: 50%;
      margin: -8px 0 0 -8px;
      width: 16px;
      height: 16px;
      border-radius: 100%;
      border-color: #41b883 transparent transparent;
      border-style: solid;
      border-width: 2px;
      box-shadow: 0 0 0 1px transparent;
    }

    &::before {
      animation: spinning 2.4s cubic-bezier(0.41, 0.26, 0.2, 0.62);
      animation-iteration-count: infinite;
    }

    &::after {
      animation: spinning 2.4s cubic-bezier(0.51, 0.09, 0.21, 0.8);
      animation-iteration-count: infinite;
    }
  }

  &__loading-enter-active,
  &__loading-leave-active {
    transition: opacity 0.4s ease-in-out;
    opacity: 1;
  }

  &__loading-enter,
  &__loading-leave-active {
    opacity: 0;
  }

  &--active &__current,
  &--active &__input,
  &--active &__tags {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  &--active &__select {
    transform: rotateZ(180deg);
  }

  &__input,
  &__single {
    position: relative;
    display: inline-block;
    min-height: 20px;
    line-height: 20px;
    border: none;
    border-radius: 5px;
    background: #fff;
    padding: 1px 0 0 5px;
    width: calc(100%);
    transition: border 0.1s ease;
    box-sizing: border-box;
    margin-bottom: 8px;
  }

  &__tag ~ &__input {
    width: auto;
  }

  &__input:hover,
  &__single:hover {
    border-color: #cfcfcf;
  }

  &__input:focus,
  &__single:focus {
    border-color: #a8a8a8;
    outline: none;
  }

  &__single {
    padding-left: 6px;
    margin-bottom: 8px;
  }

  &__tags {
    min-height: 40px;
    display: block;
    padding: 8px 40px 0 8px;
    border-radius: 5px;
    border: 1px solid #e8e8e8;
    background: #fff;
  }

  &__tag {
    position: relative;
    display: inline-block;
    padding: 4px 26px 4px 10px;
    border-radius: 5px;
    margin-right: 10px;
    color: #fff;
    line-height: 1;
    background: #41b883;
    margin-bottom: 8px;
    white-space: nowrap;

    &-icon {
      cursor: pointer;
      margin-left: 7px;
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      font-weight: 700;
      font-style: initial;
      width: 22px;
      text-align: center;
      line-height: 22px;
      transition: all 0.2s ease;
      border-radius: 5px;

      &::after {
        content: "×";
        color: #266d4d;
        font-size: 14px;
      }

      &:focus,
      &:hover {
        background: #369a6e;
      }

      &:focus::after,
      &:hover::after {
        color: white;
      }
    }
  }

  &__current {
    line-height: 16px;
    min-height: 40px;
    box-sizing: border-box;
    display: block;
    overflow: hidden;
    padding: 8px 12px 0;
    padding-right: 30px;
    white-space: nowrap;
    margin: 0;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid #e8e8e8;
    cursor: pointer;
  }

  &__select {
    line-height: 16px;
    display: block;
    position: absolute;
    box-sizing: border-box;
    width: 40px;
    height: 38px;
    right: 1px;
    top: 1px;
    padding: 4px 8px;
    margin: 0;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    transition: transform 0.2s ease;

    &::before {
      position: relative;
      right: 0;
      top: 65%;
      color: #999;
      margin-top: 4px;
      border-style: solid;
      border-width: 5px 5px 0;
      border-color: #999 transparent transparent;
      content: "";
    }
  }

  &__placeholder {
    color: #adadad;
    display: inline-block;
    margin-bottom: 10px;
    padding-top: 2px;
  }

  &--active &__placeholder {
    display: none;
  }

  &__content {
    position: absolute;
    list-style: none;
    display: block;
    background: #fff;
    width: 100%;
    max-height: 240px;
    overflow: auto;
    padding: 0;
    margin: 0;
    border: 1px solid #e8e8e8;
    border-top: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    z-index: 50;
  }

  &__content::-webkit-scrollbar {
    display: none;
  }

  &__option {
    display: block;
    padding: 12px;
    min-height: 40px;
    line-height: 16px;
    text-decoration: none;
    text-transform: none;
    vertical-align: middle;
    position: relative;
    cursor: pointer;
    white-space: nowrap;

    &::after {
      top: 0;
      right: 0;
      position: absolute;
      line-height: 40px;
      padding-right: 12px;
      padding-left: 20px;
    }

    &--highlight {
      background: #41b883;
      outline: none;
      color: white;

      &::after {
        content: attr(data-select);
        background: #41b883;
        color: white;
      }
    }

    &--selected {
      background: #f3f3f3;
      color: #35495e;
      font-weight: bold;

      &::after {
        content: attr(data-selected);
        color: silver;
      }

      &.multiselect__option--highlight {
        background: #ff6a6a;
        color: #fff;

        ::after {
          background: #ff6a6a;
          content: attr(data-deselect);
          color: #fff;
        }
      }
    }
  }

  &--disabled {
    background: #ededed;
    pointer-events: none;
  }

  &--disabled &__current,
  &--disabled &__select {
    background: #ededed;
    color: #a6a6a6;
  }

  &__option--disabled {
    background: #ededed;
    color: #a6a6a6;
    cursor: text;
    pointer-events: none;

    &:visited {
      color: #a6a6a6;
    }

    &:hover,
    &:focus {
      background: #3dad7b;
    }
  }

  &-enter-active,
  &-leave-active {
    transition: all 0.3s ease;
  }

  &-enter,
  &-leave-active {
    opacity: 0;
    max-height: 0 !important;
  }
}

@keyframes spinning {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(2turn);
  }
}
